<!-- To the right -->
<div class="pull-right hidden-xs">Version <span class="label" style="background-color: #3c8dbc">1.0.2</span></div>
<!-- Default to the left -->

<strong>Copyright &copy; 2021 - 2022 <a href="#" style="text-decoration: none">EZ Team</a>.</strong> All rights
reserved.
