<header class="main-header" <!-- Logo -->
    <a href="/" class="logo" style="text-decoration: none">
        <img
            src="/img/logo1.svg"
            class="user-image logo-mini"
            alt=""
            style="height: 38px; margin-top: 6px; margin-left: -10px"
        />
        <img
            src="/img/logo1.svg"
            class="user-image logo-lg"
            alt=""
            style="height: 38px; margin-top: 6px; float: left"
        />
        <span class="logo-lg" style="margin-left: -5px"> GATEWAY </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="label label-warning">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Welcome</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->
                                    <a href="#"> <i class="fa fa-users text-aqua"></i> Industrial IOT </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="/">Home</a></li>
                    </ul>
                </li>
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="/img/user-icon.jpg" class="user-image" alt="" />
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs" id="username1"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="/img/user-icon.jpg" class="img-circle" alt="User Image" />
                            <p>
                                <span id="username2"></span>
                                <small>Admin</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right"></div>
                        </li>
                    </ul>
                </li>
                <li></li>
            </ul>
        </div>
    </nav>
</header>
