<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">STATISTIC</li>
        <li class="treeview">
            <a href="#" style="text-decoration: none"
                ><i class="fas fa-home" style="margin-right: 3px"></i> <span> Home</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/" style="text-decoration: none">
                        <i class="fas fa-info-circle" style="margin-left: 20px; margin-right: 9px"></i>
                        System Infor
                    </a>
                </li>
                <li>
                    <a href="/report" style="text-decoration: none">
                        <i class="fas fa-paste" style="margin-left: 20px; margin-right: 9px"></i>
                        Report
                    </a>
                </li>
            </ul>
            
        </li>

        <li class="treeview">
            <a href="#" style="text-decoration: none"
                ><i class="fas fa-wifi" style="margin-right: 2px"></i> <span>Modbus TCP/IP</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/modbus-tcp/device" style="text-decoration: none">
                        <i class="fas fa-microchip" style="margin-left: 20px; margin-right: 7px"></i>
                        Device
                    </a>
                </li>
                <li>
                    <a href="/modbus-tcp/tag" style="text-decoration: none">
                        <i class="fas fa-tags" style="margin-left: 20px; margin-right: 5px"></i>
                        Tag
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#" style="text-decoration: none"
                ><i class="fas fa-network-wired" style="margin-right: 2px"></i> <span>Modbus RTU</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/modbus-rtu/device" style="text-decoration: none">
                        <i class="fas fa-microchip" style="margin-left: 20px; margin-right: 7px"></i>
                        Device
                    </a>
                </li>
                <li>
                    <a href="/modbus-rtu/tag" style="text-decoration: none">
                        <i class="fas fa-tags" style="margin-left: 20px; margin-right: 5px"></i>
                        Tag
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#" style="text-decoration: none"
                ><i class="fas fa-cloud-upload-alt" style="margin-right: 2px"></i> <span>OPCUA Client</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/opcua-client/device" style="text-decoration: none">
                        <i class="fas fa-microchip" style="margin-left: 20px; margin-right: 7px"></i>
                        Device
                    </a>
                </li>
                <li>
                    <a href="/opcua-client/tag" style="text-decoration: none">
                        <i class="fas fa-tags" style="margin-left: 20px; margin-right: 5px"></i>
                        Tag
                    </a>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#" style="text-decoration: none"
                ><i class="fas fa-globe" style="font-size: 16px; margin-right: 5px"></i> <span>MQTT</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/mqtt/broker" style="text-decoration: none">
                        <i class="fab fa-mixcloud" style="margin-left: 20px; margin-right: 5px"></i>
                        Broker
                    </a>
                </li>
            </ul>
        </li>
</section> 
